name: Test Build on Push
run-name: ${{ github.actor }} is running a build.
on: [push]
jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
      - uses: ilammy/msvc-dev-cmd@v1
        with:
            arch: x86
      - name: Prep Dirs
        run: nmake Aprep
      - name: Build something
        run: msbuild Meridian59.sln /p:Configuration=Release /p:Platform=Win32
      - name: PostBuild
        run: cmd /c postbuild.bat
      - name: Upload client artifact
        uses: actions/upload-artifact@v3
        with:
          name: meridian_client
          path: "./run/localclient"
      - name: rsc0000.rsb
        uses: actions/upload-artifact@v3
        with:
          name: meridian_server
          path: "./run/localclient/resource/rsc0000.rsb"
      - name: Upload server artifact
        uses: actions/upload-artifact@v3
        with:
          name: meridian_server
          path: "./run/server"
      - name: Upload utils artifact
        uses: actions/upload-artifact@v3
        with:
          name: meridian_utils

          path: "./bin"
